<div class="row-fluid">
  <div class="span12">
    <div class="hero-unit">
      <div id="myCarousel" class="carousel slide">
        <!-- Carousel items -->
        <div class="carousel-inner">
          <div class="active item"><%= image_tag "logo.png" %></div>
          <div class="item">…</div>
          <div class="item">…</div>
        </div>
        <!-- Carousel nav -->
        <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
      </div>
      <h1>Capítulo Puebla</h1>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h2>Misión</h2>
      <p>Con Centro de operaciones en Silicon Valley, Hackers & Founders es una organización global cuyo objetivo es cambiar la manera en que las startups se crean al rededor del mundo. </p>
    </div><!--/span-->
    <div class="span4">
      <h2>Nuestras Actividades</h2>
      <p>Somos un grupo de programadores que nos reunimos para discutir temas de tecnología y compartir buenas prácticas de programación.
        Algunas de las cosas que nos gustaría escuchar son:
      </p>
      <p>
        Scala · Erlang · Haskell · C· Clojure · Lisp & Scheme · Android · Linux · Python · iOS Development · JavaScript · Programming · Functional Programming · node.js · HTML5 · NoSQL · Ruby ·
      </p>
    </div><!--/span-->
    <div class="span4">
      <h2>SHDH 3</h2>
      <p> Super Happy Dev House, es un evento de programadores para programadores donde podrás compartir tus inquietudes y tus proyectos. El siguiente es el día 29 de Septiembre de 2012 a las 10 a.m. el lugar está aun por confirmarse dependiendo del número de personas inscritas. Visita <%= link_to "shdhpuebla.org", "http://shdhpuebla.org" %> para más información  </p>
    </div><!--/span-->
  </div>
</div>
